asgiref==3.8.1
cbor==1.0.0
chardet==5.2.0
chest==0.2.3
click==8.1.7
cwl-eval==1.0.12
Django==4.2.13
fsspec==2024.3.1
HeapDict==1.0.1
huggingface-hub==0.23.0
ijson==3.2.3
inscriptis==2.5.0
ir_datasets==0.5.7
ir_measures==0.3.3
joblib==1.4.2
lxml==5.2.1
lz4==4.3.3
matchpy==0.5.5
mkl-service==2.4.0
more-itertools==10.2.0
multiset==2.1.1
nltk==3.8.1
nptyping==1.4.4
pandas==2.2.2
patsy==0.5.6
ply==3.11
pyjnius==1.6.1
PyQt5==5.15.10
python-terrier==0.10.1
pytrec-eval-terrier==0.5.6
regex==2024.5.10
safetensors==0.4.3
scikit-learn==1.4.2
scipy==1.13.0
sentence-transformers==2.7.0
sqlparse==0.5.0
statsmodels==0.14.2
threadpoolctl==3.5.0
tokenizers==0.19.1
torch==2.3.0
torchaudio==2.3.1
torchvision==0.18.1
tqdm==4.66.4
transformers==4.40.2
trec-car-tools==2.6
triton==2.3.0
typish==1.9.3
tzdata==2024.1
unlzw3==0.2.2
warc3-wet==0.2.3
warc3-wet-clueweb09==0.2.5
webencodings==0.5.1
wget==3.2
wrapt==1.16.0
zlib-state==0.1.6
